@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;

}
.fontDiv span{
  font-family: 'Poppins', sans-serif !important; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .scrollable-element {
  scrollbar-color: red yellow !important;
} */


body::-webkit-scrollbar {
  width: 12px !important;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange !important;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue !important;
  /* color of the scroll thumb */
  border-radius: 20px !important;
  /* roundness of the scroll thumb */
  border: 3px solid orange !important;
  /* creates padding around scroll thumb */
}

.apexcharts-toolbar {
  display: none !important;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}